<?xml version="1.0" encoding="UTF-8"?>
<!-- if you set your logging framework to have the root logging level to 
	WARN you will only get log events with WARN, ERROR, and FATAL levels: If 
	the request level is at the configured level or higher level, it gets logged 
	to the configured target. If not, it's denied. 
	ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF  
	 -->
<Configuration status="INFO">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</Console>
		<RollingFile name="DEBUGLOG"
			fileName="logs/HospitalApi.log"
			filePattern="%d{yyyy-mm-dd_HH_mm}_app.log.gz" append="true">

			<LevelRangeFilter minLevel="DEBUG" maxLevel="INFO"
				onMatch="ACCEPT" onMismatch="NEUTRAL" />
			<Policies>
				<SizeBasedTriggeringPolicy
					size="100000 KB" />
			</Policies>
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
			</PatternLayout>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<RollingFile name="ERRORLOG"
			fileName="logs/HospitalApi_error.log"
			filePattern="%d{yyyy-mm-dd_HH_mm}_app.log.gz" append="true">

			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR"
				onMatch="ACCEPT" onMismatch="NEUTRAL" />
			<Policies>
				<SizeBasedTriggeringPolicy
					size="100000 KB" />
			</Policies>
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
			</PatternLayout>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
	 <logger name="com.demo" level="DEBUG" additivity="false">
  		<AppenderRef ref="DEBUGLOG"/>
  	</logger>
  	<logger name="com.demo" level="ERROR" additivity="false">
  		<AppenderRef ref="ERRORLOG"/>
  	</logger>
  	<logger name="com.demo" level="INFO" additivity="false">
  		<AppenderRef ref="CONSOLE"/>
  		<AppenderRef ref="DEBUGLOG" />
  	</logger>
  	<logger name="org.springframework.cache" level="TRACE" additivity="false">
  		<AppenderRef ref="CONSOLE"/>
  	</logger>
  	<logger name="org.springframework" level="INFO" additivity="false">
  		<AppenderRef ref="DEBUGLOG"/>
  	</logger>
  	<logger name="org.springframework.*" level="DEBUG" additivity="false">
  		<AppenderRef ref="DEBUGLOG"/>
  	</logger>
  	<logger name="org.springframework" level="ERROR" additivity="false">
  		<AppenderRef ref="ERRORLOG"/>
  	</logger>
  	<logger name="org.hibernate" level="INFO" additivity="false">
  	 <AppenderRef ref="DEBUGLOG"/>
  	</logger>
  	<logger name="org.hibernate" level="ERROR" additivity="false">
  	 <AppenderRef ref="ERRORLOG"/>
  	</logger>
		<!-- Root logger referring to console appender -->
		<Root level="INFO" additivity="false">
			<AppenderRef ref="CONSOLE" />
			<!-- <AppenderRef ref="DEBUGLOG" /> -->
		</Root>

	</Loggers>
</Configuration>
