<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" name="ultimateBatchDemoLogger">
<Appenders>
<Console name="CONSOLE" target="SYSTEM_OUT">
<PatternLayout  pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss} %-5p}{INFO=cyan} %c{1}:%L - %m%n"/>
</Console>
<RollingFile name="DEBUGLOG" fileName="logs/UltimateSpringBoot_Batch.log"
			filePattern="%d{yyyy-mm-dd_HH_mm}_app.log.gz" append="true">

			<LevelRangeFilter minLevel="INFO" maxLevel="DEBUG" onMatch="ACCEPT"
				onMismatch="DENY" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100000 KB" />
			</Policies>
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
			</PatternLayout>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
</Appenders>

<Loggers>

    	<!-- Root logger referring to console appender -->
        <Root level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="DEBUGLOG" />
        </Root>
        
</Loggers>
</Configuration>