<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/data/jpa
    https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
    
    <jpa:repositories base-package="com.demo.SpringOrmDemo.DAO.repository" />
	<tx:annotation-driven
		transaction-manager="txManager" />
	<!-- Import the DB properties -->
	<context:property-placeholder
		location="classpath:database/db-config.properties" />
	<!-- <import resource="" /> -->
	<!-- Only Embedded Database H2 will be used -->
	<!-- connect to database H2 -->
	<!-- DataSource Config -->
	<bean id="dataSourceH2"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${h2.driver}" />
		<property name="url" value="${h2.url}" />
		<property name="username" value="${h2.user}" />
		<property name="password" value="${h2.password}" />
	</bean>
	<!-- HikariConfig -->
	<!-- Configure here HikariCp -->
	<!-- <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="poolName" value="springHikariCP" />
		<property name="connectionTestQuery"
			value="SELECT 1 FROM DUAL" />
		<property name="jdbcUrl" value="${h2.url}" />
		<property name="username" value="${h2.user}" />
		<property name="password" value="${h2.password}" />
		<property name="dataSourceClassName" value="${mysql.datasource}" />
		<property name="maximumPoolSize" value="10" />
		<property name="idleTimeout" value="10" />
		<property name="dataSourceProperties">
			<props>
				<prop key="url">${h2.url}</prop>
				<prop key="user">${h2.user}</prop>
				<prop key="password">${h2.password}</prop>
			</props>
		</property>
	</bean>
	HikariCP configuration
	<bean id="hikariDataSource"
		class="com.zaxxer.hikari.HikariDataSource">
		<constructor-arg ref="hikariConfig" />
	</bean> -->
	<!-- SessionFacotry Config using Connection Pooling -->
	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceH2" />
		<property name="packagesToScan">
			<value> com.demo.SpringOrmDemo.entity</value>
		</property>
		<!-- <property name="mappingResources"> <list> <value></value> </list> 
			</property> -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.default_schema">${hibernate.default_schema}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.connection.autocommit">${hibernate.connection.autocommit}</prop>
				<prop key="hibernate.connection.isolation">${hibernate.connection.isolation}</prop>
				<prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
			</props>
		</property>
	</bean>
	<!-- TransactionManager config -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<!-- Hibernate Template -->
	<bean id="template"
		class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<!-- Resource Populator -->
	<!-- <bean id="databasePopulator"
		class="org.springframework.jdbc.datasource.init.ResourceDatabasePopulator" /> -->
</beans>