<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.h2.Driver</property>
		<property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
		<property name="hibernate.connection.url">jdbc:h2:./passwordManagerDB.db</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.default_schema">TESTDB</property>
		<property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
		
		<!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>

		<property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
		<!-- Maximum waiting time for a connection from the pool -->
		<property name="hibernate.hikari.connectionTimeout">10000</property>

		<!-- Minimum number of ideal connections in the pool -->
		<property name="hibernate.hikari.minimumIdle">20</property>

		<!-- Maximum number of actual connection in the pool -->
		<property name="hibernate.hikari.maximumPoolSize">300</property>

		<!-- Maximum time that a connection is allowed to sit ideal in the pool -->
		<property name="hibernate.hikari.idleTimeout">200000</property>
	</session-factory>
</hibernate-configuration>
