<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:batch="http://www.springframework.org/schema/batch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/batch
		http://www.springframework.org/schema/batch/spring-batch.xsd">

<!-- Configuring project beans here -->
<context:component-scan
		base-package="com.demo.springbatch" />
		
		
<!-- Configure the Tasklet class -->
<bean id="dispHelloWorld" class="com.demo.springbatch.steps.DispHelloWorld" 
   autowire-candidate="default" scope="prototype" />
   

<!-- Configure the reader class -->

<!-- Configure the batch job listeners -->
<bean id="batchJobListener" class="com.demo.springbatch.listeners.CustomBatchJobListener" />
<bean id="batchJobStepListener" class="com.demo.springbatch.listeners.CustomStepListener" />
<!-- Configure the quartz job listener -->
<bean id="qrtzJobListener" class="com.demo.springbatch.listeners.QrtzJobListener" />
<bean id="qrtzTriggerListener" class="com.demo.springbatch.listeners.QrtzTriggerListener" />
<bean id="qrtzSchdListener" class="com.demo.springbatch.listeners.QrtzSchdListener" />
		
		
		
</beans>