<style>

ul {
  list-style-type: none;
  margin: 10;
  padding: 25;
  overflow: hidden;
 
}
li {
  float: left;
}

#search_icon{
font-size:30px;
color: white;
margin-left: 10px;
padding-left: 10px;
border: 1px solid black;
border-radius: 50%;
background: #2c2c2c;
}
label{
color:white;
background-color:#2c2c2c;
padding: 5px;
font-size:25px;
}
</style>
<div ng-controller="deleteController" >
<center>
<ul>
<li><label>Delete</label></li>
<li id="search_icon"><i class="fa fa-search" aria-hidden="true" ></i></li>
</ul>
<div  >
  <input type="text" name="searchBar" placeholder="Enter ID"  ng-model="emp_id">
  <button type="button" name="btn" ng-click="getEmployee()">Search</button>
   <table class="table" ng-show="found">
   <thead>
     <tr>
       <th scope="col">#</th>
       <th scope="col">First Name</th>
       <th scope="col">Last Name</th>
       <th scope="col">Position</th>
       <th scope="col">Salary</th>
     </tr>
   </thead>
   <tbody  ng-model="leftEmployee" >
   <tr>
    <td>{{fetchedEmployee.emp_id}}</td>
    <td>{{fetchedEmployee.fname}}</td>
    <td>{{fetchedEmployee.lname}}</td>
    <td>{{fetchedEmployee.position}}</td>
    <td>{{fetchedEmployee.salary}}</td>
   </tr>
   </tbody>
 </table> 
  
</div>
   
   <!-- insert a search icon and onclick show the search field  -->
   
 </center>
 </div>