<div class="registrationForm">
<form ng-controller="registrationController">
  <label>Employee Id</label>
  <input type="text" ng-model="emp_id" name="employeeId" placeholder="Enter Employee Id"><br>
  <label>First Name</label>
  <input type="text" ng-model="fname" name="firstName" placeholder="Enter First Name"><br>
  <label>Last Name</label>
  <input type="text" ng-model="lname" name="lastName" placeholder="Enter Last Name"><br>
  <label>Designation</label>
  <input type="text" ng-model="position" name="designation" placeholder="Works as"><br>
  <label>Salary</label>
  <input type="text" ng-model="salary" name="salary" placeholder="Enter Salary"><br>
  <button type="submit" class="btn btn-primary" ng-click="registerNewEmployee()">Submit</button><br>
</form>
 </div>

